
.bg {
	width: 343px;
	height: 480px;
	background: url(imges/bg.jpg);
	margin: 200px auto;
	overflow: hidden;
}
.number {
	height: 20px;
	width: 100%;
	font-size: 20px;
	line-height: 20px;
	text-align: center;
	position: absolute;
	top: 175px;
}
.grass {
	width: 850px;
	height: 14px;
	background: url(imges/banner.jpg) repeat;
	position: relative;
	left: 0;
	top: 423px;
}

.page01 {
	display: block;
	width: 343px;
	height: 480px;
	position: relative;
	left: 0;
	top: -14px;
}
.page01 .head{
	width: 236px;
	height: 77px;
	background: url(imges/head.jpg);
	position: relative;
	left: 50px;
	top: 100px;
}
.page01 .head .headBird {
	width: 40px;
	height: 26px;
	background: url(imges/bird0.png);
	position: relative;
	left: 200px;
	top: 20px;
}
.page01 .start {
	width: 85px;
	height: 29px;
	background: url(imges/start.jpg);
	position: relative;
	left: 125px;
	top: 170px;
}

.page02 {
	display: none;
	width: 343px;
	height: 480px;
	position: relative;
	left: 0;
	top: -14px;
}
.page02 .bird {
	width: 40px;
	height: 26px;
	background: url(imges/down_bird1.png);
	position: relative;
	left: 60px;
	top: 200px;
	animation: bird .2s ease-out infinite;
}

.page03 {
	display: none;
	width: 343px;
	height: 480px;
	position: relative;
	left: 0;
	top: -480px;
}
.page03 .over {
	width: 221px;
	height: 40px;
	background: url(imges/game_over.jpg);
	position: relative;
	left: 60px;
	top: 150px;
}
.page03 .ok {
	width: 96px;
	height: 33px;
	background: url(imges/ok.jpg);
	position: relative;
	left: 120px;
	top: 160px;
}

.pipeUp {
	width: 62px;
	height: 100px;
	background: url(imges/up_mod.png) repeat;
	position: absolute;
	left: 343px;
	top: 0;
}
.pipeUp div {
	width: 62px;
	height: 60px;
	background: url(imges/up_pipe.png);
	position: absolute;
	bottom: 0;
	left: 0;
}
.pipeDown {
	width: 62px;
	height: 100px;
	background: url(imges/down_mod.png) repeat;
	position: absolute;
	left: 343px;
	bottom: 57px;
}
.pipeDown div {
	width: 62px;
	height: 60px;
	background: url(imges/down_pipe.png);
	position: absolute;
	top: 0;
	left: 0;
}